<h1 class="header">Agile Dashboard</h1>
<!-- <button class="btn btn-primary" (click)="onAddCard()">Add card</button> -->

<div class="container">
  <div class="row">
    <div class="column">
      <div class="drag-container">
        <div class="section-heading">Backlog</div>

        <div
          cdkDropList
          #pendingList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[doneList, reviewList, qaList]"
          class="item-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="item-box" *ngFor="let item of todo" cdkDrag>
            {{ item.id }} <br />
            {{ item.title }} <br />
            {{ item.desc }} <br />
            {{ item.status }} <br />
            {{ item.Assignee }}
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="drag-container">
        <div class="section-heading">In Progress</div>

        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[pendingList, reviewList, qaList]"
          class="item-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="item-box" *ngFor="let item of done" cdkDrag>
            {{ item.id }} <br />
            {{ item.title }} <br />
            {{ item.desc }} <br />
            {{ item.status }} <br />
            {{ item.Assignee }}
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="drag-container">
        <div class="section-heading">Done</div>

        <div
          cdkDropList
          #reviewList="cdkDropList"
          [cdkDropListData]="review"
          [cdkDropListConnectedTo]="[doneList, pendingList, qaList]"
          class="item-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="item-box" *ngFor="let item of review" cdkDrag>
            {{ item.id }} <br />
            {{ item.title }} <br />
            {{ item.desc }} <br />
            {{ item.status }} <br />
            {{ item.Assignee }}
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="drag-container">
        <div class="section-heading">QA Verified</div>

        <div
          cdkDropList
          #qaList="cdkDropList"
          [cdkDropListData]="qa"
          [cdkDropListConnectedTo]="[pendingList, qaList, doneList]"
          class="item-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="item-box" *ngFor="let item of qa" cdkDrag>
            {{ item.id }} <br />
            {{ item.title }} <br />
            {{ item.desc }} <br />
            {{ item.status }} <br />
            {{ item.Assignee }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
